@import "./base.css";

@import url('./header.css');
@import url("./navBar.css");
/* @import url('./popupAreaStyling.css'); */
/* @import url('./controlAreaStyling.css'); */
@import url('./toggleSwitchStyling.css');
@import url('footer.css');



/* .waterBg {
	background: linear-gradient(270deg, #8ee6ff, #c0dcff, #87f9ff);
	background-size: 400% 400%;
	animation: waterFlow 24s ease infinite;
}

@keyframes waterFlow {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
} */



body main .downPart .chartBox{
	width: 50rem;
	margin : 1rem auto;
	background-color: var(--bg-card);
	
}
body main .downPart{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

body main .downPart .chartBox{} 


/* flex setting start */
body{
	display: flex;
	flex-direction: column;
}


/* flex setting end */



@media screen and (max-width: 768px), (orientation: portrait)  {

}
@media screen and (max-width: 360px){

}


/* testing elimnets styling start */
#testingArea .controls {
	margin-top: 30px;
	text-align: center;
	background: #333;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#testingArea input[type=range] {
	width: 90%;
	cursor: pointer;
}
/* testing elimnets styling end */
