@import url('base.css');
@import url("header.css");
@import url("navBar.css");
@import url("footer.css");

@import url("formBase.css");
/* *{
	border: 1px solid red;
} */

/* ================= BODY CENTER ================= */
body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Segoe UI', sans-serif;
	background: url('../img/background.svg') no-repeat center/cover;
}


/* ================= CONTAINER ================= */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: auto;
	padding: 20px;
}

/* ================= LOGO ================= */
.siteLogo {
	width: 180px;
	margin-bottom: 10px;
}

.siteLogo img {
	width: 100%;
}

/* ================= FORM ================= */
form {
	width: 300px;
}

/* glass look */


/* legend */


/* ================= INPUT GROUP ================= */


/* label */


/* inputs */


/* focus effect */


/* ================= PASSWORD FIELD ================= */
.passwordField {
	position: relative;
}


.passwordField input {
	width: 100%;
	padding-right: 40px; /* icon ke liye space */
	display: flex;
	align-items: center;
	justify-content: center;
}
/* eye icon */

#toggleEye {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	
	cursor: pointer;
	color: var(--text-secondary);
}

#toggleEye:hover {
	color: var(--text-primary);
}

#toggleEye svg {
	width: 100%;
	/* height: 16px; */
}

/* ================= BUTTONS ================= */
.buttonSection {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.buttonSection input {
	flex: 1;
	padding: 10px;

	border: none;
	border-radius: 8px;

	font-size: 14px;
	cursor: pointer;

	background: var(--bg-card);
	color: var(--text-primary);

	transition: 0.2s;
}

/* hover */
.buttonSection input:hover {
	background: var(--bg-main);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 400px) {
	form {
		width: 100%;
	}
}