/* Poore page ko dhakne wali layer */
.overlay {
	display: none; /* Shuruat mein chhupa rahega */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Thoda black transparent look */
	z-index: 1000; /* Taaki har cheez ke upar rahe */
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px); /* Background ko dhundhla karne ke liye */
}

/* Safed rang ki pop-up window */
.modal-card {
	background: var(--accent);
	width: 90%;
	max-width: 400px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.5);
	color: #333;
	animation: slideIn 0.3s ease-out; /* Pop-up ka animation */
	position: relative;
}

@keyframes slideIn {
	from { transform: translateY(-50px); opacity: 0; }
	to { transform: translateY(0); opacity: 1; }
}

/* Close Button Style */
.close-btn {
	position: absolute;
	top:0%;
	right: 0;
	transform: translate(40%, -40%);
	font-size: 34px;
	cursor: pointer;
	color: #ffffff;

	width:2rem;
	height: 2rem;
	background-color: rgba(255, 0, 0, 0.5);
	text-align: center;
	border-radius: 50%;
	border: 2px solid red;
	line-height: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	padding-bottom: 8px;
}

.close-btn:hover { color: #000; }

/* --- Modal Body Typography --- */
.modal-body h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 22px;
	color: #1a1a1a;
}

.modal-body p {
	color: var(--text-primary);
	font-size: 14px;
	margin-bottom: 20px;
}



