@import url("./base.css");
@import url("formBase.css");



.main_label{
    font-size: 16px;
    color:rgb(83, 120, 27);
}
/*  */
.weekday-selector{
 display:flex;
 flex-wrap:wrap;
 align-items: center;
 justify-content: center;
 gap:10px;
 margin-top:10px;
}

.day-checkbox{
	display: none;
}

.day-button{
	padding: 10px 16px;
	border-radius: 12px;
	cursor: pointer;
	user-select: none;

	background: #f1f1f1;
	border: 2px solid transparent;

	font-weight: 600;
    font-family: sans-serif;

	transition: 0.25s;
}

/* hover */
.day-button:hover{
	transform: translateY(-2px);
}

/* checked state */
.day-checkbox:checked + .day-button{
	background: #2563eb;
	color: white;
	border-color: #1d4ed8;

	box-shadow: 0 4px 12px rgba(37,99,235,0.35);
}
/*  */

.resetBtn{
    background-color: rgba(255, 255, 47, 0.8) !important;
}
.submitBtn{
    background-color: rgba(172, 255, 47, 0.8) !important;
}
.switchContainer{
    width: 4rem;
}
.range-wrap{
 width:300px;
 position:relative;
 height:50px;
}

.range-wrap input[type=range]{
 position:absolute;
 left:0;
 top:0;
 width:100%;
 background:none;
}
.range-wrap output{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
#minRange{ z-index:3; }
#maxRange{ z-index:2; }


