@import url("./base.css");
@import url("./header.css");
@import url("./navBar.css");
@import url("./footer.css");

/* main{
	margin-bottom: auto;
} */
/* chart styling start */

.chart-container {
	width: 90%;
	/* max-width: 900px; */
	height: 400px;
	margin: 1rem auto;
	padding: 1rem;

	border-radius: 10px;
	background: var(--surface-glass);
	box-shadow: 0px 0 13px -3px rgba(0, 0, 0, 0.389);
}
.chart-container canvas {
	width: 100%;
	height: 100%;
	/* background: rgba(255, 250, 199, 0.6); */
	color: red;
	/* var(--theme-btn-text); */
}

/* chart Styling end */
.buttonContoner{
	--circle_size : 9px;
	--circle_border : 5px;
	--base_color : #4189e0;
	--secondry_color : #ffffff;
}
.buttonContoner {
	padding: 8px;
	width: 80%;
	margin: 10px auto;
	border-radius: var(--radius-sm);
	background-color: var(--surface-glass);
}
.buttonContoner {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	gap: 1rem;
}
/* .buttonContoner .btn {
	padding: var(--space-sm);
	text-transform: uppercase;
	flex: 1 1 5rem;
	white-space: nowrap;
} */
.buttonContoner input[type="radio"] {
  display: none;
}
.buttonContoner label {
	position: relative;
	color: var(--base_color);
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	border: 3px solid var(--base_color);
	padding: var(--space-sm);
	border-radius: 0.5em;
	flex: 1 1 5rem;
	white-space: nowrap;
	text-align: center;
}
.buttonContoner label:before {
  content: "";
  height: var(--circle_size);
  width: var(--circle_size);
  aspect-ratio: 1;
  border: var(--circle_border) solid var(--base_color);
  border-radius: 50%;
}

.buttonContoner input[type="radio"]:checked + label:before {
  height: var(--circle_size);
  width: var(--circle_size);
  border: var(--circle_border) solid var(--secondry_color);
  background-color: var(--base_color);
}

.buttonContoner input[type="radio"]:checked + label {
  background-color: var(--base_color);
  color: var(--secondry_color);
}