@import "./base.css";

@import url("./header.css");
@import url("./navBar.css");
@import url("footer.css");

@import url("./toggleSwitch2.css");
@import url("./nouislider.css");

@import url("./formBase.css");

/* =========================
   BASE LAYOUT
========================= */


main{
    margin: 1rem auto;
    width: 95%;
    background: var(--surface-glass);
    padding: 10px;
}
main .upperPart{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
    gap: 1rem;
    /* align-items: start; */
}
main .upperPart .tank-visuals{
    display :flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}


main .upperPart .panel .controls{
    display: grid;
    gap:1rem;
}

main .upperPart .panel .controls .cardGroup .cardGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 1rem;
}

/* 
main .upperPart .tank-visuals #tank-meter{}
main .upperPart .statusCard{}
main .upperPart .panel{}
main .upperPart .panel .controls{}
main .upperPart .panel .controls .cardGroup{}
main .upperPart .panel .controls .cardGroup .cardGrid{}
main .downPart{}
main .downPart .chart-container{} 
*/

/* =========================
   tank-visuals
========================= */
main .upperPart .tank-visuals{
    background: var(--surface-glass);
	border-radius: var(--radius-md);
}

main .upperPart .tank-visuals #level-controller{
    height: 80%;
    margin-right: 100px;
}

/* =========================
   status card
========================= */
.statusCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    background: var(--surface-glass);
	color: var(--text-primary);
	border: 1px solid var(--glass-border);
	box-shadow: var(--glass-shadow);
    border-radius: var(--radius-sm);
    padding: 10px 13px;
}


.statusCard .metric{
    padding: 5px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    background-color: var(--bg-color);
    border: 2px solid var(--border);
    box-shadow: var(--shadow-md);
}
section.statusCard .metric .badge {
	background-color: var(--bg-primary);
	border: 2px solid var(--border);
	border-radius: 5px;
	padding: 3px 5px;
	flex-basis: 70%;
	flex-grow: 0;
	flex-shrink: 1;

	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
	color: var(--text-primary);
}


/* =========================
   Control Setup
========================= */
/* .controls *{
    border: 1px solid red;
    padding: 5px;
} */
.controls .cardGroup {
	background: var(--surface-glass);
	border: 1px solid var(--glass-border);
	border-radius: 18px;
	padding: 18px;
	backdrop-filter: blur(3px);
}
.controls .cardGroup .groupTitle {
	margin: 0 0 15px;
	font-size: 1rem;
	color: var(--text-primary);
}

/* .controls .cardGroup .cardGrid{} */

.controls .cardGroup .cardGrid article.dashboardCard{
    background: var(--surface-glass);
	border-radius: 16px;
	/* padding: 16px; */
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
	transition: 0.3s;
}
.controls .cardGroup .cardGrid .dashboardCard:hover {
	transform: translateY(-4px);
}
.controls .cardGroup .cardGrid .dashboardCard:hover .iconBox {
	transform: scale(1.08);
	transition: 0.25s;
}
.controls .cardGroup .cardGrid article.dashboardCard .cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 13px;
}
.controls .cardGroup .cardGrid article.dashboardCard .cardHeader .title {
	font-weight: 600;
	color: var(--text-primary);
}
/* .controls .cardGroup .cardGrid article.dashboardCard .cardHeader .iconBox{} */
.controls .cardGroup .cardGrid article.dashboardCard .cardHeader .iconBox .cardIcon,
.cardGroup .cardHeader img{
    width: 34px;
}
.controls .cardGroup .cardGrid article.dashboardCard .cardBody{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    min-height: 4rem;
}


.controls .cardGroup .cardGrid article.dashboardCard .cardBody .btnConrainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
    gap: 1rem;
}
.controls .cardGroup .cardGrid article.dashboardCard .cardBody .value{
    font-size: 1.1rem;
	font-weight: 700;
	color: var(--text-secondary);
}
.controls .cardGroup .cardGrid article.dashboardCard .cardBody .switchContainer{
    width: 5rem;
}
/* .controls .cardGroup .cardGrid article.dashboardCard .cardBody .switchContainer .miniBtn{} */

/* =========================
   CHART SETUP
========================= */

.chart-container{
    margin: 1rem;
    position: relative;
    height: 30rem;
    padding: 1rem;
    /* overflow: hidden; */
    background: var(--surface-glass);
    border-radius: var(--radius-sm);
    box-shadow: 0px 0 13px -3px rgba(0, 0, 0, 0.389);
    color: var(--text-primary);
}   
.chart-container .toogleBtnContainer{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-weight: 700;
    gap: 1rem;
    background: var(--surface-glass);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0 13px -3px rgba(0, 0, 0, 0.389);
    width: 13rem;
    white-space: nowrap;
    letter-spacing: 2px;
}
canvas#myChart{
    display: block;
    width: 100%;
    height: 90% !important;
}



/* =========================
   TABLET RESPONSIVE
========================= */

@media (max-width: 1024px) {
	main .upperPart {
		/* 2 columns */
		grid-template-columns: 1fr 1fr;
	}

	.panel {
		grid-column: span 2;
	}
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px) {
	main .upperPart {
		/* Single column */
		grid-template-columns: 1fr;
	}

	main .upperPart .panel {
		grid-column: auto;
	}

}

/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 480px) {

}
