@import url('base.css');
@import url("header.css");
@import url("navBar.css");
@import url("footer.css");

@import url("formBase.css");
/* *{
	border: 1px solid red;
} */

/* ================= BODY CENTER ================= */

/* ================= CONTAINER ================= */
main.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	/* margin-top: auto; */
}

/* ================= LOGO ================= */
main .siteLogo {
	width: 180px;
	margin-bottom: 10px;
}

main .siteLogo img {
	width: 100%;
}

/* ================= FORM ================= */
form {
	width: 300px;
}

/* ================= INPUT GROUP ================= */

/* ================= RESPONSIVE ================= */
@media (max-width: 400px) {
	form { width: 100%;}
}